<app-menu-items></app-menu-items>
<div>
    <div class="font-weight-bold text-center"><b>Product List</b></div>
    <br/>
    <div class="table-responsive text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">Edit</button>&nbsp;
                        <button type="button" class="btn btn-outline-primary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>